<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://st10434047-cmcs-crh5dhadeqc9a4fm.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourceGroups/AZ-JHB-RSG-VCWCCN-ST10434047-TER/providers/Microsoft.Web/sites/ST10434047-CMCS</ResourceId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>st10434047-cmcs-crh5dhadeqc9a4fm.scm.southafricanorth-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>ST10434047-CMCS</DeployIisAppPath>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>CMCS.Tests</WebJobName>
  </PropertyGroup>
</Project>